Django==4.2.23
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.0
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
boto3==1.34.0
django-storages==1.14.2
Pillow==10.4.0
pytz==2023.3 
better-profanity==0.7.0 
requests==2.32.3
gunicorn
python-dotenv==1.0.0